{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jsx-a11y",
        "jest"
    ],
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest": true,
        "jest/globals": true
    },
    "parserOptions": {
        "ecmaVersion": 6
    },
    "extends": [
        "eslint-config-dbk",
        "plugin:jest/recommended"
    ],
    "rules": {
        "import/no-extraneous-dependencies": [
            2,
            {
                "devDependencies": true,
                "optionalDependencies": false,
                "peerDependencies": false
            }
        ],
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/valid-expect": "error",
        "object-curly-newline": ["error", { "multiline": true }]
    }
}
